#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 3px;
  text-align: center;
}
@media (max-width: 480px) {
  #root{
    padding: 0rem;
  }
}
@media (max-width: 350px) {
  #root{
    padding: 0rem;
  }
}